{%load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> 
</head>
<body>
<div class="row mb-2">
    {% if info %}
            <div class="col-md-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <h3 class="mb-0 text-center">  <strong class="d-inline-block mb-2 text-success">Informations sur la location </strong> </h3>
                  <div class="col p-4 d-flex flex-column position-static">
                    <h4> <strong class="d-inline-block mb-2 text-success">ID : {{info.id}}</strong> <h4>
                    <strong class="d-inline-block mb-2 text-primary">Informations clients</strong>
                   <b> <h3 class="mb-0">Nom : {{info.client_id.nom}}</h3></b>
                    <h4><div class="mb-1 text-muted">Prenom : {{info.client_id.prenom}}</div></h4>
                      <h4><div class="mb-1 text-muted">Adresse : {{info.client_id.email}}</div></h4>
                        <h4><div class="mb-1 text-muted">ville : {{info.client_id.ville}}</div></h4>
                          <h4><div class="mb-1 text-muted">pays : {{info.client_id.pays}}</div>
                            <strong class="d-inline-block mb-2 text-primary">Informations Vehicule</strong>
                    <h4><div class="mb-1 text-muted">Type : {{info.vehicule_id.type_vehicule_id.nom}}</div></h2>
                        <h4><div class="mb-1 text-muted">date de création : {{info.vehicule_id.date_creation}}</div></h2>
                    <p class="mb-auto">cout réel : {{info.vehicule_id.cout}} Millions</p>
                  </div>
                </div>
            </div>
        
        
          
          {% else  %}
            <h4> </h4>
          {% endif %}
          <a href='{% url 'index' %}'class='btn btn-primary'>Retour</a>
    
        </div>
      </div>
    </div>
  </div>

</body>
</html>
